section {
  min-width: 600px;
}

div {
  height: 50%;
  width: 48%;
  min-width: 250px;
  max-height: 200;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

div img {
  width:50%;
  padding:10px;
  float: left;
}

div h2 {
  font-family: 'Slackey', cursive;
}

div a {
  text-decoration-line: none;
  font-size: 2em;
  border-right: 10px;
}

div p a img {
  height: auto;
  width: 20px;
}

div p:first-child {
  margin-bottom: 10px;
}