section {
  min-width: 600px;
}

div {
  height: 50%;
  width: 48%;
  min-width: 250px;
  max-height: 200;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}


div div {
  width: 100%;
}

div div img {
  float: left;
  height: auto;
  width: 17px;
  margin-top: 5px;
}

div img {
  width:50%;
  border-radius: 3px;
  float: left;
  margin: 0px 15px 5px 0px;
}

div h2 {
  font-family: 'Slackey', cursive;
  float: left;
  margin-right: 15px;
}

div a {
  text-decoration-line: none;
  font-size: 2em;
  border-right: 10px;
}
/* 
div a img {
  height: auto;
  width: 20px;
  float: left;
} */