* , h1, h2, h3, h4, body, main, button, p, nav, header, ul, li{
  border: 1px solid black;
}

body {
  position: relative;
  background-color: rgb(51, 134, 167);
  color: rgb(225, 246, 255);
  font-family: 'Hind Siliguri', sans-serif;
  margin-left: 150px;
  /* width: 700px; */
}

h1 {
  font-family: 'Slackey', cursive;
  font-size: 60px;
  text-align: center;
  text-shadow: 4px 4px rgb(21, 218, 208);
  margin-bottom: 0px;
  height: 120px;
}

h3 {
  font-family: 'Overpass Mono', monospace;
}

h4 {
  color: rgb(19, 253, 242);
}

header, main, body {
  width: 80%;
  min-width: 500px;
  max-width: 960px;
}


header {
  height: 145px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

nav {
  background-color: rgb(52, 136, 136); 
  width: 125px;
  margin-top: 140px;
  /* margin-right: 40px; */
  position: absolute;
  top: 0px;
  left: 0px;
  /* margin-left: -155px; */
}

nav li {
  width: 100px;
  margin: 10px auto;
  text-align: center;
  vertical-align: center;
  padding: 20px 0px;
  background: white;
  /* line-height: 60px; */
  /* height: 60px; */
}

main, header{
  /* margin: 0px auto; */
}