* , #timerBarContainer, #timerBar{
    border: 1px solid black;
}


#timer {
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    line-height: 100px;
    height: 100px;
    text-align: center;
    
}

#time {
    /* display: inline-block; */
    /* margin: 0 auto; */
     /* text-align: center;  */
}

#timerBarContainer {
    height: 50px;
    width: 600px;
}

#timerBar, #bonusBar {
    height: 50px;
    background-color: lightgreen;
}


/*        <div id="timer"><span id="time">test</span></div>
        <div id="timerBarContainer"><div id="timerBar"></div></div>*/